*, *::after,*::before
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    box-sizing: border-box;
    background-color: #f4f9f9;
    font-family: 'Comfortaa', cursive;
}
.navbar
{
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name
{
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    align-self: flex-end;
    color: rgba(66, 209, 83, 1) ;
}
.link
{
    display: inline;
    font-size: 2rem;
    align-self: flex-end;
}
.portfolio_link
{
    padding: .5rem;
    text-decoration: none;
    color: white;
    background-color:rgba(66, 209, 83, 1) ;
    border-radius: 1rem;
}
.link a
{
    text-decoration: none;
}
.welcome
{
  background-color: #f4f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
}
.welcome_title
{
    font-size: 8rem;
    color: rgba(66, 209, 83, 1) ;
}
.hello
{
  animation: movefromleft 1s ease;
}
.myname
{
    animation: movefromright 1s ease;
}
.profile
{
   height: 100vh; 
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   position: relative;
   background-color: #f4f9f9;
   color: rgba(66, 209, 83, 1) ;
}
.profile_heading
{
    position: absolute;
    font-size: 4rem;
    top: 2rem;
    color: rgba(123, 234, 136, 1);
}
.description
{
 font-size: 2rem;
 padding: 3rem;
 margin: 30vh 5rem;
 width: 75rem;
}
.description_1
{
    position: absolute;
    font-size: 2rem;
    margin: 32rem 5rem;
    width: 75rem;
}
.description_2
{
    position: absolute;
    font-size: 2rem;
    margin: 42rem 5rem;
    width: 75rem;
}
.edu
{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #f4f9f9;
}
.edu_heading
{
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    color: rgba(66, 209, 83, 1) ;
}
.edu_desc
{
    font-size: 2rem;
    padding:3rem;
    margin: 40vh 5rem;
    color: rgba(66, 209, 83, 1) ;
}
.hsc
{
    margin-top: 2rem;
}
.ssc
{
    margin-top: 2rem;
}
.skill
{
    height: 100vh; 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: relative;
    background-color: #f4f9f9;
}
.skill_text
{
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    grid-column: 4/5;
    justify-self: center;
    color: rgba(66, 209, 83, 1) ;
}
.cont
{
    grid-row: 3/7;
    grid-column: 2/4;
}
.card
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 5px 10px 18px black;
}
.card:hover
{
    transform: rotateY(180deg);
}
.front
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: white;
}
h1.cardfronttext
{
    position: absolute;
    font-size: 3rem;
    top: 17rem;
    left: 7rem;
    color:rgba(66, 209, 83, 1) ;
}
.subfronttext
{
    position: absolute;
    font-size: 2rem;
    bottom: 16rem;
    left: 8rem;
    color:rgba(66, 209, 83, 1) ;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background-image: linear-gradient(to right,rgba(123, 234, 136, 1), rgba(66, 209, 83, 1));
    transform: rotateY(180deg);
    color: white;
} 
ul.list
{
  font-size: 3rem;
  list-style-type: none;
  position: absolute;
  top: 7rem;
  left: 7rem;
}
ul.list li:not(:last-child)
{
    padding: 2px;
}
a.link1
{
  display: block;
  padding: 1.5rem;
  font-size: 2.5rem;
  position: absolute;
  bottom: 7rem;
  left: 9rem;
  text-decoration: none;
  color:rgba(66, 209, 83, 1) ; 
  background-color: white;
  border-radius: 1rem;
}
a.link1:hover {
    transform: translateY(-3px);
    box-shadow: 2px 4px 10px black;
  }
.cont2
{
    grid-row: 3/7;
    grid-column: 5/7;
}
.card2
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 5px 10px 18px black;
}
.card2:hover
{
    transform: rotateY(180deg);
}
.front2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: white;
}
h1.card2fronttext
{
    position: absolute;
    font-size: 3rem;
    top: 17rem;
    left: 7rem;
    color:rgba(66, 209, 83, 1) ;
}
.sub2fronttext
{
    position: absolute;
    font-size: 2rem;
    bottom: 16rem;
    left: 8rem;
    color:rgba(66, 209, 83, 1) ;
}
.back2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background-image: linear-gradient(to right,rgba(123, 234, 136, 1), rgba(66, 209, 83, 1));
    transform: rotateY(180deg);
    color: white;
} 
ul.list2
{
  font-size: 3rem;
  list-style-type: none;
  position: absolute;
  top: 7rem;
  left: 7rem;
}
ul.list li:not(:last-child)
{
    padding: 2px;
}
.sub2backtext
{
    position: absolute;
    font-size: 2rem;
    bottom: 16rem;
    left: 4rem;
    color:white ;
}
.details
{
    height: 100vh; 
    position: relative;
    background-color: #f4f9f9;
    color: rgba(66, 209, 83, 1) ;
    max-width: 150rem;
}
.details_heading
{
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
    position: relative;
}
.details_des
{
    font-size: 2rem;
    position: absolute;
    top: 27.5rem;
    left: 38rem;
}
.email
{
    padding: 2rem;
}
.address
{
 padding: 2rem;
}
.phone
{
 padding: 2rem;
}
@keyframes movefromleft
{
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        
        transform: translateX(1);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes movefromright
{
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        
        transform: translateX(-1);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

